[Desktop Entry]
Name=wio
Comment=Rio-inspired Wayland compositor
Exec=/home/mnlcz/.guix-home/profile/bin/wio -t /home/mnlcz/.guix-home/profile/bin/havoc
Type=Application
