[child]
program=/home/mnlcz/.local/bin/rc-login

[window]
opacity=230
margin=no
decorations=auto

[terminal]
rows=16
columns=140
scrollback=1000
scroll to bottom on input=no

[font]
size=18
path=/home/mnlcz/.guix-home/profile/share/fonts/truetype/DejaVuSansMono.ttf

[bind]
C-S-c=copy
C-S-v=paste
C-S-r=reset
C-S-Delete=hard reset
C-S-j=scroll down
C-S-k=scroll up
C-S-Page_Down=scroll down page
C-S-Page_Up=scroll up page
C-S-End=scroll to bottom
C-S-Home=scroll to top

[colors]
foreground = #000000
background = #ffffff

# black
color0  = #111111
color8  = #444444

# red
color1  = #993333
color9  = #bb4444

# green
color2  = #336633
color10 = #448844

# yellow
color3  = #887722
color11 = #aa9933

# blue
color4  = #000088
color12 = #2244aa

# magenta
color5  = #664466
color13 = #886688

# cyan
color6  = #336666
color14 = #447777

# white
color7  = #888888
color15 = #cccccc
